@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.card-icon {
  width: 20px;
  height: 20px;
}

.card-icon img {
  margin-bottom: 5px;
}

ion-icon {
  color: #5E35B1;
  --ionicon-stroke-width: 40px;
  font-size: 22px;
  min-width: 22px;
}

h6 {
  font-size: 1.35em;
  line-height: 1.55em;
}

.white-text {
  color: white;
}

.search {
  min-width: 188px;
}

.v-select {
  min-width: 124px;
}

header.v-toolbar {
  width: 100vw;
}

header.v-toolbar ion-icon {
  font-size: 30px;
}

header.v-toolbar button {
  padding: 0;
  margin-left: 10px;
  margin-top: 4px;
}

footer {
  max-height: 70px;
}

.photo {
  max-height: 220px;
}

.search .v-field__field::after {
  position: relative;
  margin-top: 15px;
  content: "";
  height: 24px;
  width: 24px;
  background-image: url("/public/search-outline.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
}

.search:hover .v-field__field::after {
  opacity: 1;
}
 
.toggle-btns {
  text-align: left;
}

.v-toolbar__content {
  justify-content: center;
}

.title {
  margin: 0px;
  width: auto;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (max-width: 960px) {
  .card-content {
    padding-bottom: 36px;
  }

  .tools {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  
  .tools .v-col {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media (max-width: 600px) {
  .toggle-btns {
    text-align: center;
  }

  .toggle-btns .v-btn.v-btn--variant-text, .v-card .v-card-text {
    font-size: 13px;
  }

  .photo {
    max-height: 150px;
  }
}

@media (max-width: 360px) {
  .toggle-btns .v-btn.v-btn--variant-text {
    font-size: 12px;
    padding: 8px 12px;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }

  .v-select {
    min-width: 150px;
  }
}